body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #000000;
}

footer {
  background-color: #000000;
  height: 200px;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ffff;
}

h2 {
  font-weight: bolder;
}

h4 {
  color: #ffff;
  font-weight: bold;
}

h6 {
  color: #ffff;
  font-weight: bold;
}

button {
  font-weight: bold;
}

input {
  font-weight: bold;
}

/*----------------------------------------HEADER-------------------------------*/
.logo {
  height: 90px;
  width: 90px;
}

.styleFont {
  color: #ffff;
  font-size: 90%;
  font-weight: bold;
  margin-right: 20px;
}

.alignObjects {
  display: flex;
  align-items: center;
}

.alignText {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.styleLinks {
  padding-left: 100px;
}

#menuBurguer {
  color: #ffff;
}
/*---------------------------------------MAIN----------------------------------*/

.principalImage {
  background-image: url(../img/imagenPrincipal.jpg);
  height: 54rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*----------------------------------FOOTER-------------------------------------*/
.styleFooter {
  display: grid;
  flex-direction: column;
  justify-content: center;
}

.socialMediaStyle {
  display: flex;
  padding: 15px;
}

.cage {
  margin: 5px;
}

.styleSign {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #cdc0c0;
  font-size: 10px;
}

/*---------------------------CAFETERIA/PLANTAS---------------------------------*/

.cageH2 {
  padding-top: 30px;
}

.cageStyle {
  margin-bottom: 40px;
  margin-top: 40px;
}

.borderStyle {
  border: solid #ffff;
  display: flex;
  align-items: center;
}

.styleImage {
  width: 70%;
  height: 70%;
}

/*------------------------CONTACTO/INGRESAR/NOSOTROS---------------------------*/

/*.overlapObjects {
  position: relative;
}
*/
.overviewStyle {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: #ffff;
  width: 30rem;
  padding: 2rem;
}

.formPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.textCage {
  padding-left: 100px;
  padding-right: 100px;
  color: #ffff;
  font-size: 4vh;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*-------------------------------MEDIA QUERY-----------------------------------*/

@media screen and (max-width: 576px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  h4 {
    font-size: 60%;
  }

  h5 {
    font-size: 95%;
  }

  h6 {
    font-size: 60%;
  }
}
