<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@600&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--Para cambiar el color del menu hamburguesa-->
    <script
      src="https://kit.fontawesome.com/303c0684fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Cafeteria | The green corner</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html">
            <div class="alignObjects">
              <img src="../img/logo_circular.png" class="logo" alt="Logo" />
              <div class="alignText">
                <h4>THE GREEN CORNER</h4>
                <h6>COFFEE SHOP</h6>
              </div>
            </div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span id="menuBurguer"><i class="fa-solid fa-bars"></i></span>
            <!--<span class="navbar-toggler-icon"></span>-->
          </button>
          <div class="collapse navbar-collapse styleLinks" id="navbarNav">
            <ul class="navbar-nav cageHeight">
              <li class="nav-item trans">
                <a class="nav-link styleFont" href="../views/cafeteria.html"
                  >CAFETERÍA</a
                >
              </li>
              <li class="nav-item trans">
                <a class="nav-link styleFont" href="../views/plantas.html"
                  >PLANTAS</a
                >
              </li>
              <li class="nav-item trans">
                <a class="nav-link styleFont" href="../views/nosotros.html"
                  >NOSOTROS</a
                >
              </li>
              <li class="nav-item trans">
                <a class="nav-link styleFont" href="../views/contacto.html"
                  >CONTACTO</a
                >
              </li>
              <li class="nav-item trans">
                <a class="nav-link styleFont" href="../views/ingresar.html"
                  >INGRESAR</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="cageH2">
        <h2>¡Conocé todas nuestras opciones!</h2>
      </div>
      <div class="cageStyle">
        <hr />
        <h3>Bebidas</h3>
        <hr />
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Cafés Calientes</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Cafés Helados</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Té Caliente</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Té Helado</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Hot Chocolate</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Batidos</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="cageStyle">
        <hr />
        <h3>Comidas</h3>
        <hr />
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Tortas</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Toasts</h5>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-4 cageStyle">
          <div class="card borderStyle">
            <img
              src="../img/cafe/icecoffee.png"
              class="card-img-top styleImage"
              alt="ice coffee"
            />
            <div class="card-body">
              <h5 class="card-title text-center">Sandwichs</h5>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="styleFooter">
        <div class="socialMediaStyle">
          <div class="cage">
            <a href="https://www.facebook.com" target="_blank"
              ><img
                src="../img/facebook.png"
                alt="perfil_facebook"
                width="30px"
                height="30px"
            /></a>
          </div>
          <div class="cage">
            <a href="https://www.instagram.com/" target="_blank"
              ><img
                src="../img/instagram.png"
                alt="perfil_instagram"
                width="30px"
                height="30px"
            /></a>
          </div>
          <div class="cage">
            <a href="https://www.youtube.com" target="_blank"
              ><img
                src="../img/youtube.png"
                alt="perfil_youtube"
                width="30px"
                height="30px"
            /></a>
          </div>
        </div>
        <div class="styleSign">
          <p>Desarrollado por DS | Uy | 2023</p>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
